.modal {
    top: 50%;
    left: 50%;
    position: absolute;
    background: white;
    padding: 4rem;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}